@charset "utf-8";

body {
    overflow-x: hidden;
    font-size: 18px;
}

img {
    max-width: 100%;
}

p {    
	line-height: 1.6;
}

strong {
	font-weight: 700;
}

input,
select,
button {
    outline: none;
    line-height: 1;
    vertical-align: middle;
}

select::-ms-expand {
    display: none;
}

select {
    background: url("../img/ico_select_arrow.png") no-repeat 94% center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


.color--point {
    color: #6662b1;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
}

#header {
    position: relative;
    width: 100%;
    height: 110px;
}

#header .container {
    position: relative;
}

.header__top {
    height: 30px;
    background: #eee;
    text-align: right;
}

.header__top p,
.header__top ul {
    display: inline-block;
    vertical-align: middle;;
}

.header__top p {    
    color: #000;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
}

.header__top ul {
    margin-left: 10px;
}

.header__top li {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    line-height: 30px;
}

.header__top li a {
    color: #000;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.header__bottom {
    height: 80px;
}

.header__bottom .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 100%;
}

.header__logo span {
    font-size: 50px;
    color: #000;
    font-weight: 700;
    letter-spacing: -.04em;
    transition: all .3s;
}

.header__logo:hover span {
    color: #6662b1;
}

.header__logo:hover span:nth-child(2) {
    transition-delay: .1s;
}

.header__logo:hover span:nth-child(3) {
    transition-delay: .2s;
}

.header__logo:hover span:nth-child(4) {
    transition-delay: .3s;
}

.header__logo:hover span:nth-child(5) {
    transition-delay: .4s;
}

.header__logo:hover span:nth-child(6) {
    transition-delay: .5s;
}

.btn--hamburger {
    z-index: 101;
    position: absolute;
    top: 17px;
    left: 20px;
    width: 40px;
    height: 46px;
    background: none;
}

.btn--hamburger.on {
    position: fixed;
    top: 47px;
}

.btn--hamburger span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: transform .3s;
}

.btn--hamburger span:nth-child(1) {
    transform: translateY(-10px);
}

.btn--hamburger span:nth-child(3) {
    transform: translateY(10px);
}

.btn--hamburger.on span {
    background-color: #fff;
}

.btn--hamburger.on span:nth-child(1) {
    transform: rotate(45deg);
}

.btn--hamburger.on span:nth-child(2) {
    opacity: 0;
}

.btn--hamburger.on span:nth-child(3) {
    transform: rotate(-45deg);
}

.nav--gnb {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    max-width: 340px;
    height: 100%;
    padding-top: 110px;
    background-color: #6662b1;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transform: translateX(-100%);
    transition: transform .3s;
}

.nav--gnb.on {
    transform: translateX(0);
}

.nav--gnb__home {
    position: absolute;
    top: 46px;
    right: 20px;
}

.nav--gnb>ul {
    background: #fff;
}

/* .nav--gnb > ul > li:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.1);
} */

.nav--gnb>ul>li>a {
    display: block;
    padding: 20px;
    font-family: "SCDream", "Pretendard", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.nav--gnb>ul>li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.nav--gnb>ul>li>ul {
    display: none;
}

.nav--gnb>ul>li>ul>li>a {
    display: block;
    padding: 16px 20px;
    font-family: "SCDream", "Pretendard", sans-serif;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    background: #efefef;
}

#footer {
    width: 100%;
    padding: 1.25rem 0;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .1);
    color: #666;
}

#main input[type="text"]:focus,
#main input[type="text"]:hover {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}