@charset "utf-8";

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.main__img {
    margin: 20vh 0 40px;
    text-align: center;
}

#main form {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

#main form input {
    width: 100%;
    height: 50px;
    padding-right: 90px;
    padding-left: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: url("../img/ico_search_btn.png") no-repeat 16px center;
    transition: all .3s;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

#main form input::placeholder {
    font-weight: 300;
    color: #ccc;
}

#main form input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

#main form button {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    background: none;
    border-left: 1px solid #ccc;
    text-align: center;
}

